@page "/events"
@inherits EventsBase
<h3>Events</h3>

@if(Events==null)
{
    <h3>Loading products</h3>
}
else
{
    <h3 class="mb-5">Events</h3>
    var eventCount = Events.Count();
    if(eventCount>0)
    {
        const int itemsPerRow = 4;
        var events = new List<EventDto>();
        for(int i=0;i<eventCount;i++)
        {
            events = Events.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
            <div class="row mt-3">
                @foreach(var eventItem in events)
                {
                    @eventItem.Title
                }
            </div>
        }
    }
}