@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var eventsolo in events)
            {
                <tr>
                    <td>@eventsolo.Date.ToShortDateString()</td>
                    <td>@eventsolo.Title</td>
                    <td>@eventsolo.Location</td>
                    <td>@eventsolo.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Event[]? events;

    protected override async Task OnInitializedAsync()
    {
        events = await Http.GetFromJsonAsync<Event[]>("api/Event");
    }
}
}
