@page "/"
@using EventManagerFrontend.Components
@inject NavigationManager NavigationManager

@inject UserState UserState 


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


Welcome to your new app.
